body{
    background-color:#B96DB5;
    margin:0;
    padding:0;
    font-size:0.75em;
}
body .container{
    display:flex;
    color: aqua;
}
.content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1024px;
}
.imageArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    height: 360px;
    margin: 2px;
    border: 5px soild black;
}
.imageArea img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.grade {
    width: 720px;
    height: 50px;
    margin: 24px 0;
}

.recipeInfo {
    display:flex;
    flex-direction:column;
    width: 1024px;
    margin-bottom: 150px;
}
.recipeInfo h2{
    margin: 22px 0 12px;
    font-size: 24px;
}
.recipeInfo .subText{
    font-size: 16px;
    padding-left: 4px;
    color: #ccc;
    font-style: italic;
}

.title {
    display:flex;
    align-items:center;
    position: relative;
}
.title > h1{
    margin: 18px 0 12px 0;
    font-size: 34px;
    letter-spacing: -0.05em;
    
}
.title > span {
    font-size: 18px;
    margin-top: 18px;
    margin-left : 8px;
    color: darkgray;
    font-style: italic;
}
.updateAndDelete {
    position: absolute;
    right: 20px;
    color : gray;
}
.updateAndDelete > a{
    text-decoration : none;
    color : gray;
}
.intro {
    margin: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #aea7a2;
}
.intro > h4 {
    margin: 0;
    padding: 12px;
    font-size: 16px;
    color: #aaa;
}
.ingredients {
    margin-top: 32px;
    margin-bottom: 16px;
}
.details {
    margin-top: 16px;
    margin-bottom: 16px;
}
.card {
    border-radius: 6px;
    border: solid 1px rgb(70, 153, 70);
    padding: 14px;
    margin: 0 8px;
}
.card span {
    font-size: 16px;
}